<nav class="nav">
	<div class="container">
		<div class="nav-inner">
			<a href="#" class="logo">
				<div class="logo-icon">🌕</div>
				<span>NIRD</span>
			</a>
			<div class="nav-links">
				<a href="#pillars" class="nav-link">Piliers</a>
				<a href="#quiz" class="nav-link">Quiz</a>
				<a href="#roadmap" class="nav-link">Parcours</a>
				<a href="#resources" class="nav-link">Ressources</a>
				<a href="https://nird.forge.apps.education.fr/" class="nav-link accent" target="_blank">Rejoindre</a>
			</div>
		</div>
	</div>
</nav>